apiVersion: apps/v1
kind: Deployment
metadata: 
  name: hero-manager-marvel
  labels:
    name: hero-manager-marvel
spec:
  selector:
    matchLabels:
      name: hero-manager-marvel
  replicas: 1
  template:
    metadata:
      labels:
        name: hero-manager-marvel
    spec:
      containers:
      - name: hero-manager-marvel
        image: docker.io/library/hero_manager_marvel_image
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8082
        resources: {}
        env:
            - name: MARVEL_URL
              value: https://gateway.marvel.com
            - name: MARVEL_PUBLIC_KEY
              value: 88aad6e6b942e9d1ec9e4d4cc67148f9
            - name: MARVEL_PRIVATE_KEY
              value: 5fba25e7456de3fa2850098de0632b671d0519cc
            - name: PORT
              value: "8082"